In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data_complet_reorganiser.csv")
df

                                         variable Cell line    response
0                   ZOLINZA(0.0)---TOPOTECAN(0.0)   EFM192B  100.000626
1                ZOLINZA(0.0)---TOPOTECAN(0.0223)   EFM192B   95.432487
2                ZOLINZA(0.0)---TOPOTECAN(0.0775)   EFM192B   58.106958
3                 ZOLINZA(0.0)---TOPOTECAN(0.275)   EFM192B   26.654765
4                   ZOLINZA(0.0)---TOPOTECAN(1.0)   EFM192B   23.814691
...                                           ...       ...         ...
721927   CABAZITAXEL(0.005)---ACTINOMYCIN D(0.01)  UACC-257   26.066875
721928     CABAZITAXEL(0.05)---ACTINOMYCIN D(0.0)  UACC-257   19.951405
721929  CABAZITAXEL(0.05)---ACTINOMYCIN D(0.0001)  UACC-257   19.743262
721930   CABAZITAXEL(0.05)---ACTINOMYCIN D(0.001)  UACC-257   20.099610
721931    CABAZITAXEL(0.05)---ACTINOMYCIN D(0.01)  UACC-257   14.413045

[721932 rows x 3 columns]

In [8]:
# Supprimer doublons sur le couple (Cell line, variable)
df_unique = df.drop_duplicates(subset=["variable", "Cell line"])    #garder la première occurence de ("variable", "Cell line)

df_unique

                                         variable Cell line    response
0                   ZOLINZA(0.0)---TOPOTECAN(0.0)   EFM192B  100.000626
1                ZOLINZA(0.0)---TOPOTECAN(0.0223)   EFM192B   95.432487
2                ZOLINZA(0.0)---TOPOTECAN(0.0775)   EFM192B   58.106958
3                 ZOLINZA(0.0)---TOPOTECAN(0.275)   EFM192B   26.654765
4                   ZOLINZA(0.0)---TOPOTECAN(1.0)   EFM192B   23.814691
...                                           ...       ...         ...
721927   CABAZITAXEL(0.005)---ACTINOMYCIN D(0.01)  UACC-257   26.066875
721928     CABAZITAXEL(0.05)---ACTINOMYCIN D(0.0)  UACC-257   19.951405
721929  CABAZITAXEL(0.05)---ACTINOMYCIN D(0.0001)  UACC-257   19.743262
721930   CABAZITAXEL(0.05)---ACTINOMYCIN D(0.001)  UACC-257   20.099610
721931    CABAZITAXEL(0.05)---ACTINOMYCIN D(0.01)  UACC-257   14.413045

[359103 rows x 3 columns]

In [18]:
# Créer la table pivot
table = df_unique.pivot_table(
    index="variable",
    columns="Cell line",
    values="response",
    aggfunc="first"  # garde la première valeur si doublon
).fillna(100)  # remplacer NaN par 100

# Remettre l'ordre des colonnes si nécessaire
table = table.reset_index()
table.columns.name = None

# Limiter les valeurs max à 100
numeric_cols = table.select_dtypes(include="number").columns
table[numeric_cols] = table[numeric_cols].clip(upper=100)


# Liste de l'ordre souhaité
ordre = ["EFM192B", "KPL1", "MDAMB436", "OCUBM", "T-47D", "ZR751", "MDA-MB-468", "UACC-257", "BT-549", "HS 578T", "MCF7"]

# Réorganisation en gardant 'variable' en première colonne
table = table[["variable"] + ordre]

In [19]:
table

,variable,EFM192B,KPL1,MDAMB436,OCUBM,T-47D,ZR751,MDA-MB-468,UACC-257,BT-549,HS 578T,MCF7
0,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.0
1,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,97.639670,100.000000,100.000000,100.0
2,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,95.259424,100.000000,100.0,97.939424,97.479424,97.189424,100.0
3,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,35.850620,100.000000,100.0,46.230620,38.350621,53.130620,100.0
4,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
77836,ZOLINZA(4.0)---TOPOTECAN(0.0),16.766920,3.678910,3.196370,12.246040,12.158870,22.308900,100.0,100.000000,100.000000,100.000000,100.0
77837,ZOLINZA(4.0)---TOPOTECAN(0.0223),13.430305,1.460305,2.012305,10.607305,5.630305,10.009305,100.0,100.000000,100.000000,100.000000,100.0
77838,ZOLINZA(4.0)---TOPOTECAN(0.0775),16.025875,1.662875,2.056875,6.788875,5.293875,11.497875,100.0,100.000000,100.000000,100.000000,100.0
77839,ZOLINZA(4.0)---TOPOTECAN(0.275),6.367406,1.386406,3.106406,7.349406,4.757406,10.538406,100.0,100.000000,100.000000,100.000000,100.0
77840,ZOLINZA(4.0)---TOPOTECAN(1.0),6.462380,0.472380,0.837380,8.114380,2.555380,2.006380,100.0,100.000000,100.000000,100.000000,100.0

In [20]:
table

,variable,EFM192B,KPL1,MDAMB436,OCUBM,T-47D,ZR751,MDA-MB-468,UACC-257,BT-549,HS 578T,MCF7
0,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.0
1,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,97.639670,100.000000,100.000000,100.0
2,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,95.259424,100.000000,100.0,97.939424,97.479424,97.189424,100.0
3,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,35.850620,100.000000,100.0,46.230620,38.350621,53.130620,100.0
4,1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
77836,ZOLINZA(4.0)---TOPOTECAN(0.0),16.766920,3.678910,3.196370,12.246040,12.158870,22.308900,100.0,100.000000,100.000000,100.000000,100.0
77837,ZOLINZA(4.0)---TOPOTECAN(0.0223),13.430305,1.460305,2.012305,10.607305,5.630305,10.009305,100.0,100.000000,100.000000,100.000000,100.0
77838,ZOLINZA(4.0)---TOPOTECAN(0.0775),16.025875,1.662875,2.056875,6.788875,5.293875,11.497875,100.0,100.000000,100.000000,100.000000,100.0
77839,ZOLINZA(4.0)---TOPOTECAN(0.275),6.367406,1.386406,3.106406,7.349406,4.757406,10.538406,100.0,100.000000,100.000000,100.000000,100.0
77840,ZOLINZA(4.0)---TOPOTECAN(1.0),6.462380,0.472380,0.837380,8.114380,2.555380,2.006380,100.0,100.000000,100.000000,100.000000,100.0

In [21]:
table[table["variable"] == "ZOLINZA(0.0)---TOPOTECAN(0.275)"]

,variable,EFM192B,KPL1,MDAMB436,OCUBM,T-47D,ZR751,MDA-MB-468,UACC-257,BT-549,HS 578T,MCF7
76859,ZOLINZA(0.0)---TOPOTECAN(0.275),26.654765,9.608805,18.345265,30.191955,39.500055,67.404215,100.0,100.0,100.0,100.0,100.0

In [14]:
#table.to_csv("Breast_DrugCombDB.csv", index=False)

In [22]:
from sklearn.cluster import MiniBatchKMeans
from sklearn.preprocessing import StandardScaler

In [23]:
X_num = table.drop(columns=["variable"])
X = X_num.values

In [24]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)  # X = tes données (77841, 11)

mbk = MiniBatchKMeans(n_clusters=4, batch_size=1000, random_state=42)
mbk.fit(X_scaled)

labels = mbk.labels_

In [27]:
variables = table["variable"]

In [29]:
# Créer un nouveau DataFrame avec 'variable' et les labels kmeans
result = pd.DataFrame({
    "variable": variables,
    "label": labels
})

In [30]:
result

                                                variable  label
0      1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...      0
1      1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...      0
2      1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...      0
3      1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...      3
4      1-(5-DEOXYPENTOFURANOSYL)-5-FLUORO-4-{[(PENTYL...      0
...                                                  ...    ...
77836                      ZOLINZA(4.0)---TOPOTECAN(0.0)      1
77837                   ZOLINZA(4.0)---TOPOTECAN(0.0223)      1
77838                   ZOLINZA(4.0)---TOPOTECAN(0.0775)      1
77839                    ZOLINZA(4.0)---TOPOTECAN(0.275)      1
77840                      ZOLINZA(4.0)---TOPOTECAN(1.0)      1

[77841 rows x 2 columns]

In [31]:
"""import os

# Créer un dossier pour stocker les fichiers (optionnel)
os.makedirs("clusters_csv", exist_ok=True)

# Pour chaque label unique dans la colonne 'label'
for label in result["label"].unique():
    # Extraire les lignes correspondant à ce label
    subset = result[result["label"] == label]
    
    # Construire un nom de fichier, par exemple "cluster_0.csv"
    filename = f"clusters_csv/cluster_{label}.csv"
    
    # Enregistrer ce sous-ensemble dans un CSV
    subset.to_csv(filename, index=False)

    print(f"Enregistré {filename}")"""

Enregistré clusters_csv/cluster_0.csv
Enregistré clusters_csv/cluster_3.csv
Enregistré clusters_csv/cluster_2.csv
Enregistré clusters_csv/cluster_1.csv