In [16]:
import pandas as pd

# Données de départ
df = pd.DataFrame({
    "response": [26, 32, 92, 50, 89, 102, 999, 15, 2, 62],
    "Cell line": ["c1", "c2", "c3", "c4", "c1", "c2", "c1", "c3", "c4", "c2"],
    "variable": ["v1", "v2", "v3", "v4", "v1", "v1", "v7", "v8", "v9", "v2"]
})

In [17]:
df

   response Cell line variable
0        26        c1       v1
1        32        c2       v2
2        92        c3       v3
3        50        c4       v4
4        89        c1       v1
5       102        c2       v1
6       999        c1       v7
7        15        c3       v8
8         2        c4       v9
9        62        c2       v2

In [18]:
# Supprimer les doublons sur le couple (Cell line, variable)
df_unique = df.drop_duplicates(subset=["Cell line", "variable"])

In [19]:
df_unique = df.drop_duplicates(subset=["Cell line", "variable"])

In [23]:
# Créer la table pivot
table = df_unique.pivot_table(
    index="variable",
    columns="Cell line",
    values="response",
    aggfunc="first"  # garde la première valeur si doublon
).fillna(100)  # remplacer NaN par 100

# Remettre l'ordre des colonnes si nécessaire
table = table.reset_index()
table.columns.name = None

# Limiter les valeurs max à 100
numeric_cols = table.select_dtypes(include="number").columns
table[numeric_cols] = table[numeric_cols].clip(upper=100)

# Liste de l'ordre souhaité
ordre = ["c2", "c3", "c1", "c4"]

# Réorganisation en gardant 'variable' en première colonne
table = table[["variable"] + ordre]

In [24]:
table

  variable     c2     c3     c1     c4
0       v1  100.0  100.0   26.0  100.0
1       v2   32.0  100.0  100.0  100.0
2       v3  100.0   92.0  100.0  100.0
3       v4  100.0  100.0  100.0   50.0
4       v7  100.0  100.0  100.0  100.0
5       v8  100.0   15.0  100.0  100.0
6       v9  100.0  100.0  100.0    2.0

In [22]:
table

  variable     c1     c2     c3     c4
0       v1   26.0  100.0  100.0  100.0
1       v2  100.0   32.0  100.0  100.0
2       v3  100.0  100.0   92.0  100.0
3       v4  100.0  100.0  100.0   50.0
4       v7  100.0  100.0  100.0  100.0
5       v8  100.0  100.0   15.0  100.0
6       v9  100.0  100.0  100.0    2.0

In [31]:
X_num = table.drop(columns=["variable"])
X = X_num.values

array([[100., 100.,  26., 100.],
       [ 32., 100., 100., 100.],
       [100.,  92., 100., 100.],
       [100., 100., 100.,  50.],
       [100., 100., 100., 100.],
       [100.,  15., 100., 100.],
       [100., 100., 100.,   2.]])

In [33]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)  # X = tes données (77821, 11)

mbk = MiniBatchKMeans(n_clusters=2, batch_size=1000, random_state=42)
mbk.fit(X_scaled)

labels = mbk.labels_

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1952: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 1024 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

In [34]:
labels

array([1, 0, 1, 0, 1, 0, 0], dtype=int32)